@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #fdffff;
    --black: #28292e;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

html {
    color: var(--black);
    background: var(--white);
}

.dark {
    color: var(--white);
    background:var(--black);
}

@layer utilities {
    .underscore-hover {
        height: 2px;
        width: 100%;
        animation: underscore 0.8s ease-in-out;
    }

    .noise-bg {
        background: url("/bg-static.png");
        opacity: 0.5;
        animation: noise 0.9s infinite;
        pointer-events: none;
    }

    .dark-gradient-bg {
        background: linear-gradient(0.33turn, #28292e, rgba(25, 25, 28, 0.75), rgba(55, 54, 54, 0.75));
        background-size: 500% 500%;
        animation: noise 12s ease infinite;
    }

    .light-gradient-bg {
        background: linear-gradient(0.33turn, #ef008f, #7038ff, #6ec3f4, #ffba27);
        background-size: 100% 100%;
        animation: noise 12s ease infinite;
    }

    .light-gradient-bg-reverse {
        background: linear-gradient(0.66turn, #ffba27, #6ec3f4, #7038ff, #ef008f);
        background-size: 100% 100%;
        animation: noise 12s ease infinite;
    }

    @keyframes underscore {
        0% { width: 0 }
        100% { width: 100% }
    }

    @keyframes noise {
        0% { background-position: 0 0 }
        10% { background-position: -5% -10% }
        20% { background-position: -15% 5% }
        30% { background-position: 7% -25% }
        40% { background-position: 20% 25% }
        50% { background-position: -25% 10% }
        60% { background-position: 15% 5% }
        70% { background-position: 0 15% }
        80% { background-position: 25% 35% }
        90% { background-position: -10% 10% }
    }
}

@layer base {
    @font-face {
        font-family: 'Satoshi Regular';
        src: url('/fonts/Satoshi-Regular.woff') format('woff'),
        url('/fonts/Satoshi-Regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Satoshi Medium';
        src: url('/fonts/Satoshi-Medium.woff') format('woff'),
        url('/fonts/Satoshi-Medium.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Satoshi Bold';
        src: url('/fonts/Satoshi-Bold.woff') format('woff'),
        url('/fonts/Satoshi-Bold.woff2') format('woff2');
    }
}
