@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #fdffff;
    --black: #28292e;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#cursor {
    height: 20px;
    width: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;

    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

/* #cursor {
    filter: invert(1);
    mix-blend-mode: difference;
} */

@media only screen and (min-width: 600px) {
    #layout:hover > #cursor {
        opacity: 1;
    }
}

#cursor:not([data-type='']) > #cursor-icon {
    opacity: 1;
}

#cursor-icon {
    opacity: 0;
    transition: opacity 400ms ease;
}

html {
    color: var(--black);
    background: var(--white);
}

#__next {
    height: 100%;
}

.dark {
    color: var(--white);
    background: var(--black);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#dialog-overlay[data-state='open'],
#dialog-content[data-state='open'] {
    animation: fadeIn 350ms ease-out;
}

#dialog-overlay[data-state='closed'],
#dialog-content[data-state='closed'] {
    animation: fadeOut 350ms ease-in;
}

.carousel {
    overflow: hidden;
}

.inner {
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: green;
    color: #fff;
}

@layer utilities {
    .masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -2rem; /* gutter size offset */
        width: auto;
    }
    .masonry-grid_column {
        padding-left: 2rem; /* gutter size */
        background-clip: padding-box;
    }

    .masonry-grid_column > div {
        /* change div to reference your elements you put in <Masonry> */
        margin-bottom: 2rem;
    }

    .underscore-hover {
        height: 2px;
        width: 100%;
        animation: underscore 0.8s ease-in-out;
    }

    #scroll {
        display: flex;
        position: relative;
        height: min-content;
        z-index: 1;
        width: 75%;
        margin: auto;
    }

    #scroll-title {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        transform: scale(2);
        transition: all 1s ease;
    }

    #scroll-title > div {
        display: flex;
        animation: scrollText 33s infinite linear;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .noise-bg {
        background: url('/bg-static.png');
        opacity: 0.75;
        animation: noise 0.9s infinite;
        pointer-events: none;
    }

    .dark-gradient-bg {
        background: linear-gradient(
            0.33turn,
            #28292e,
            rgba(25, 25, 28, 0.75),
            rgba(55, 54, 54, 0.75)
        );
        background-size: 500% 500%;
        animation: noise 12s ease infinite;
    }

    .light-gradient-bg {
        background: linear-gradient(
            0.33turn,
            #ef008f,
            #7038ff,
            #6ec3f4,
            #ffba27
        );
        background-size: 100% 100%;
        animation: noise 12s ease infinite;
    }

    .light-gradient-bg-reverse {
        background: linear-gradient(
            0.66turn,
            #ffba27,
            #6ec3f4,
            #7038ff,
            #ef008f
        );
        background-size: 100% 100%;
        animation: noise 12s ease infinite;
    }

    #gradient-canvas {
        width: 100%;
        height: 100%;
        --gradient-color-1: #ef008f;
        --gradient-color-2: #7038ff;
        --gradient-color-3: #6ec3f4;
        --gradient-color-4: #ffba27;
    }

    @keyframes underscore {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes scrollText {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-25%);
        }
    }

    @keyframes noise {
        0% {
            background-position: 0 0;
        }
        10% {
            background-position: -5% -10%;
        }
        20% {
            background-position: -15% 5%;
        }
        30% {
            background-position: 7% -25%;
        }
        40% {
            background-position: 20% 25%;
        }
        50% {
            background-position: -25% 10%;
        }
        60% {
            background-position: 15% 5%;
        }
        70% {
            background-position: 0 15%;
        }
        80% {
            background-position: 25% 35%;
        }
        90% {
            background-position: -10% 10%;
        }
    }
}
